$accent-color: rgb(0, 161, 19);
$accent-color-transparent: rgba(0, 161, 19, 0);
$bright-accent-color: rgb(0, 255, 65);
$bright-accent-color-transparent: rgba(0, 255, 65, 0);
$dark-color: #1b242f;
$text-color: #000;
$title-font: Coda, cursive;
$body-font: "Open Sans", serif;

@keyframes jumping {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 0 rgba(0, 255, 0, 0), 0 0 0 rgba(0, 255, 0, 0);
  }

  25% {
    text-shadow: 0 0 2px rgba(0, 255, 0, 1), 0 0 50px rgba(0, 255, 0, 1);
  }

  50% {
    text-shadow: 0 0 0 rgba(0, 255, 0, 0), 0 0 0 rgba(0, 255, 0, 0);
  }

  75% {
    text-shadow: 0 0 2px rgba(0, 255, 0, 1), 0 0 30px rgba(0, 255, 0, 1);
  }

  100% {
    text-shadow: 0 0 0 rgba(0, 255, 0, 0), 0 0 0 rgba(0, 255, 0, 0);
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", serif;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.accent {
  color: $bright-accent-color;
}

.button {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  background-color: $accent-color-transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: 0.3s ease all;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;

  &:hover {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

section {
  padding: 8rem 0;

  .section-title {
    text-align: center;
    font-family: $title-font;
    font-size: 3rem;
    margin: 0 0 2.5rem;
    font-weight: normal;
    text-transform: uppercase;
  }
}

#site-header {
  background-color: $dark-color;
  height: 100vh;
  position: relative;

  canvas {
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
  }

  .intro {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #fff;
    text-align: center;
    font-family: $title-font;
    padding: 4rem;

    h1 {
      font-size: 2.5rem;
      font-weight: normal;
      line-height: 1.5em;
      user-select: none;

      span {
        color: $bright-accent-color;
        animation: 3s glowing infinite;
      }
    }

    .view-portfolio {
      margin: 50px auto 0;

      .button {
        color: #fff;
        text-decoration: none;

        .icon {
          margin-left: 10px;
          transition: 0.3s ease all;
        }

        &:hover .icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}

#site-nav {
  background-color: $dark-color;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s ease all;

    a {
      color: #fff;
      display: block;
      padding: 20px 50px;
      transition: 0.3s ease all;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .toggle {
    display: none;
    font-size: 2rem;
  }
}

#about {
  .featured {
    text-align: center;
    margin: 3rem auto 2rem;
  }

  .summary {
    width: 320px;

    h3 {
      font-family: $title-font;
      font-size: 2rem;
      font-weight: bold;
      margin: 0 0 1em;
    }
  }

  .profile-picture {
    background-image: url(../img/profile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 auto 2rem;
  }
}

#skills {
  background-color: #252934;
  color: #fff;
  text-align: center;

  h4 {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
}

#portfolio {
  background-color: #f5f5f5;

  #portfolio-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
  }

  .portfolio-item {
    padding: 20px 20px 10px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    text-align: center;

    &.unavailable a {
      cursor: not-allowed;
    }

    .portfolio-item-title {
      font-weight: bold;
      font-size: 1.1rem;
      margin-top: 12px;
      margin-bottom: 0;
    }

    .portfolio-item-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: 12% top;
    }

    .portfolio-item-built-with {
      font-size: 0.8rem;
    }

    .portfolio-item-link {
      font-size: 0.8rem;
      a {
        color: $accent-color;
        text-decoration: none;
      }
    }
  }
}

#blog {
  .read-more {
    margin: 3rem 0;
    text-align: center;

    .button {
      border-color: #000;
      color: #000;

      &:hover {
        color: #fff;
        border-color: $accent-color;
      }
    }
  }
}

#recent-posts {
  margin: 6rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;

  .post-item {
    width: 100%;
    transition: 0.3s ease all;

    &:hover {
      transform: translateY(-10px);
    }

    .post-thumbnail {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 62.5%;
      text-indent: -99999px;
      position: relative;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .post-title {
      margin: 1.25rem 0 1rem;
      min-height: 3rem;
      font-family: $title-font;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .post-date {
      font-size: 0.8rem;
      margin: 0 0 0.5rem;
    }

    .post-excerpt {
      font-size: 0.9rem;
    }

    a {
      color: $text-color;
    }
  }
}

#contact {
  background-color: #252934;
  color: #fff;
  text-align: center;

  .section-title {
    color: #fff;
  }

  .contact-form {
    width: 640px;
    margin: 2rem auto 0;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background: #1e242c;
    font-size: 1.1rem;
    margin-bottom: 3px;
    color: #fff;
  }

  textarea {
    height: 300px;
    font-size: 1.5rem;
  }

  .actions {
    text-align: center;
  }

  input[type="submit"] {
    font-size: 1.25rem;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    background-color: $accent-color-transparent;
    text-transform: uppercase;
    transition: 0.3s ease all;
    margin: 2rem 0 0;

    &:hover {
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }
}

#site-footer {
  background-color: #1b242f;
  color: #fff;
  padding: 3rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li + li {
      margin-left: 20px;
    }

    a {
      width: 64px;
      height: 64px;
      line-height: 64px;
      font-size: 1.8rem;
      background-color: #262f38;
      color: #fff;
      text-align: center;
      display: inline-block;
      transition: 0.3s ease all;

      &:hover {
        background-color: $accent-color;
      }
    }
  }

  .copyrights {
    font-size: 0.9rem;
    color: #ccc;
    margin: 3rem 0 0;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    width: 920px;
  }

  #site-header .intro {
    padding: 2rem;
  }

  #recent-posts {
    grid-template-columns: repeat(2, 1fr);
  }

  #skills {
    .skills-collections {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  #portfolio {
    #portfolio-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 30px;
    width: auto;
  }

  section {
    padding: 3rem;
  }

  #site-header .intro {
    padding: 2rem 0;
  }

  #site-header .intro h1 {
    font-size: 1.6rem;
  }

  #site-header .intro .view-portfolio .button .icon {
    transform: rotate(90deg);
  }

  #site-nav {
    height: 48px;
    position: relative;

    .container {
      width: 100%;
      margin: 0;
      padding-top: 48px;
    }

    ul {
      display: block;
      background-color: #333;
      height: 0;
      overflow: hidden;

      &.visible {
        height: 256px;
      }
    }

    .toggle {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  #skills {
    .skills-collections {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  #recent-posts {
    grid-template-columns: 1fr;
  }

  #contact {
    .contact-form {
      width: 100%;
    }
  }

  #site-footer {
    .link-icons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      li + li {
        margin-left: 0;
      }
    }
  }
}
